@import url(https://fonts.googleapis.com/css?family=Righteous);
/* Vectro CSS based on https://codepen.io/boldfacedesign/pen/EoGgD */
.vectro {
    position: relative;
    -webkit-text-fill-color: transparent;
    /*-moz-text-stroke-color: #f1f1f1;*/
    -webkit-text-stroke-color: #f1f1f1;
    /*-moz-text-stroke-width: 4px;*/
    -webkit-text-stroke-width: 2px;
    font-family: 'Righteous', cursive;
    font-size: min(13vw,100px);
    margin: .5vw auto 4vh auto;
}

.vectro:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: repeating-linear-gradient(0deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, rgba(255,255,255,0) 1px, rgba(255,255,255,0) 2px);*/
}

.vectro-body {
    -webkit-background-clip: text;
    background-image: -webkit-linear-gradient(#C3BFB4 0%, #FDFCFA 50%, #E8E7E5 51%, #757172 52%, #E8E9DB 100%);
    /*-webkit-filter: drop-shadow(2px 2px 15px #3F59F4);*/
    -webkit-filter: drop-shadow(var(--xPos) var(--yPos) 15px var(--color));
    /*text-shadow: .25px .25px 0 #db0b0b, -.25px -.25px 0 #e20404, .25px -.25px 0 #ea1111, -.25px .25px 0 #be2a2a;*/
    /*-moz-text-shadow: .25px .25px 0 #f1f1f1, -.25px -.25px 0 #f1f1f1, .25px -.25px 0 #f1f1f1, -.25px .25px 0 #f1f1f1;*/
}

.vectro-bar {
    color: var(--color);
    -webkit-text-fill-color: var(--color);
    -webkit-text-stroke: 0;
    -webkit-filter: drop-shadow(var(--xPos) var(--yPos) 15px var(--color));
    font-style: italic;
    padding-right: 0px;
}

@-webkit-keyframes chrome_effect {
    0% {background-position:-680px 0;}
    10% {background-position:420px 0;}
    100% {background-position:420px 0;}
}
