@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.colorSwatches {
  width: 150px;
  height: 60px;
  color: white;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: large;
}

.scheme-selector {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 25px;
    font-palette: light;
}

.color-editor {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: x-large;
  width: 25px;
  border-color: red;
  border-width: 2px;
  display: inline;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

html, body {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

/*html, body, #app, #app>div {*/
/*  height: 100%*/
/*}*/

/*body > #root > div {*/
/*  height: 100vh;*/
/*}*/

/*.body {*/
/*  background-attachment: fixed;*/
/*}*/

.grid-element {
  padding-top:12px;
  padding-bottom:12px;
}



.sign {
    text-shadow:
        0 0 10px var(--color1),
        0 0 20px var(--color2),
        0 0 40px var(--color3),
        0 0 80px var(--color4);
    color: azure;
    --color1: azure;
    --color2: aqua;
    --color3: dodgerblue;
    --color4: blue;
}

